<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<main>
	<form action = "/member/joinb" method = "post">
		<input type = "text" name = "memberId">아이디<br>
		<input type = "password" name = "memberPass">비밀번호<br>
		<input type = "text" name = "memberName">이름<br>
		<input type = "text" name = "memberEmail">이메일<br>
		<input type = "text" name = "memberPhone">핸드폰<br>
		<button type="submit">가입</button>
	</form>
</main>
</body>
</html>