<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<stlye>
</stlye>



<meta charset="UTF-8">
<title>상용한자 2136</title>
</head>
<body>	
<main>
	<div class = "main_wrap">
		<div class = "main_top_wrap">
			<span>2136</span>
		</div>
		<div class = "main_bottom_wrap">
			<form class = "member_login_form" action = "member/login" method="post">
				<span>아이디 : </span><input type = "text" name = "member_id">
				<span>비밀번호 : </span><input type = "password" name = "member_pass">
			</form>
		</div>
	</div>
</main>
</body>
</html>
